@import "http://fonts.googleapis.com/css?family=Exo:200|Lato:200";
.cookiecuttr .icon32 
{
	background: url(img/icon.png) 50% 50% no-repeat !important;
}
div.cookiecuttr { position: relative; float: left; font-family: 'Lato', Arial, Helvetica, sans-serif; color: #4b4031; text-shadow: 0 1px 0 rgba(255,255,255,0.75); background: url(bg.jpg) 0 0 repeat #e0e0d9; padding: 2em 2%; width: 92%; margin-bottom: 2em; font-size: 15px; border: 1px solid #ccc; }
div.cookiecuttr h2, div.cookiecuttr-col h2 { font-size: 24px; font-family: 'Exo', Arial, Helvetica, sans-serif; color: #4b4031; font-weight: 200;}
div.cookiecuttr-col h2 { border-top: 1px solid #ccc; border-top: 1px solid rgba(255,255,255,0.6) ; box-shadow: 0 -1px 0 rgba(104,104,94,0.3); padding-top: 1em; float: left; width: 100%; }
div.cookiecuttr-col h2.cc-top {  padding-top: 0; border: none; box-shadow: none; }
div.cookiecuttr .icon32 { background:url(logo.png) 0 0 no-repeat !important; width: 140px; height: 280px; }
ul.cookiecuttr {  font-family: 'Lato', Arial, Helvetica, sans-serif; color: #4b4031; text-shadow: 0 1px 0 rgba(255,255,255,0.75); font-size: 15px; }
input.cookiecuttr-input, textarea.cookiecuttr-textarea { border-radius: 3px; padding: 0.5em; width: 96%; }
textarea.cookiecuttr-textarea { height: 120px; }
div.cookiecuttr-col { font-family: 'Lato', Arial, Helvetica, sans-serif; color: #4b4031; text-shadow: 0 1px 0 rgba(255,255,255,0.75); background: url(bg.jpg) 0 0 repeat #e0e0d9; padding: 2em 2%; float: left; width: 43%; margin-right: 2%; border: 1px solid #ccc; font-size: 15px;  }
input.cookiecuttr-button { margin-top: 1em; font-size: 20px; border: none; text-transform: uppercase; color: #fff; text-decoration: none; background: #f15b00; padding: 0.75em 2.25em; border-radius: 3px; box-shadow: 0 0 2px rgba(0,0,0,0.25); -o-transition: background 0.5s ease-in; -webkit-transition: background 0.25s ease-in; -moz-transition: background 0.25s ease-in; }
input:hover.cookiecuttr-button { background: #000; color: #fff; -o-transition: background 0.5s ease-in; -webkit-transition: background 0.25s ease-in; -moz-transition: background 0.25s ease-in; cursor: pointer; }
div.cookiecuttr .updated { position: absolute; left: 0; top: -4px; width: 96%; margin-left: 1%; font-size: 14px; }
.cookiecuttr-submit { padding: 2em 0; float: left; width: 43%; margin-right: 2%; }
span.cookiecuttr-tooltip { background: #f1f1f1; padding: 0.5em; display: block; border: 1px solid #ccc; font-size: 12px; width: 90%; border-radius: 5px; }
.cookiecuttr-col ul { padding-bottom: 0; margin-bottom: 0;  }
.cookiecuttr-col ul.cookiecuttr-three { width: 100%; clear: both; float: left; }
.cookiecuttr-col ul.cookiecuttr-three li { display: inline !important; margin-right: 2em; float: left; }
